
.border-comical {
	border: 4px solid black;
}
.shadow-comical {
	box-shadow: 6px 6px 0px 0px black;
}
.comical-button {
	box-shadow: 6px 6px 0px 0px black;
}
.comical-button:active {
	transform: translate(4px, 4px);
	box-shadow: 2px 2px 0px 0px black;
}

.blog-content {
	@apply flex flex-col items-stretch gap-4 pb-8 px-2;

	width: 100%;
	max-width: 800px;
}
.blog-box {
	@apply border-comical relative p-6;
}
.mt-with-label {
	@apply mt-12;
}


h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child), h6:not(:first-child), p:not(:first-child) {
	@apply mt-5;
}
.fake-h1:not(:first-child), .fake-h2:not(:first-child) {
	@apply mt-5;
}
.highlight {
	@apply bg-amber-100;

	box-shadow: 0px -2px 0px rgb(254 243 199), 0px 2px 0px rgb(254 243 199);
}
h1, .fake-h1 {
	@apply font-IBMPlexMono font-bold text-2xl;
}
h2, .fake-h2 {
	@apply font-IBMPlexMono font-semibold text-2xl;
}
h3 {
	@apply font-IBMPlexMono font-semibold text-xl;
}
h4 {
	@apply font-IBMPlexMono font-medium text-lg;
}
h5, h6 {
	@apply font-IBMPlexMono font-medium;
}
p {
	@apply font-Mulish text-justify;
}
code {
	@apply text-sm font-IBMPlexMono break-keep;
}
hr {
	@apply border-gray-200 my-5;
}

.blog-box a {
	@apply hover:underline text-blue-500;
}